# setup gitignore as whitelist
*
!*/

# track this file
!.gitignore

# track .zshrc .zsh_aliases and .p10k.zsh
!.zshrc
!.zsh_aliases
!.p10k.zsh

# track .zsh folder and everything inside it
!.zsh/**/*
